<!-- a place for freelancers to find work and for businesses to find freelancers -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelancer</title>
</head>
<body>
    <div class="container">
        <nav>
            <img src="/template/images/15f22da5b5b64236b92c52b1e8aa210d.png" alt="logo">
            <ul class="breadcrumb">
                <li class="nav-link"><a href="login.html">Login</a></li>
                <li class="nav-link"><a href="register.html">Register</a></li>
            </ul>
        </nav>
        <h1>Freelancer</h1>
        <p>a place for freelancers to find work and for businesses to find freelancers</p>
     
        
    </div>
</body>
</html>