* {
    box-sizing: border-box;
  }
  
  .breadcrumb > li {
    display: inline;
    padding: 15px;
    font-family: "Helvetica", sans-serif;
  }
  a:link,
  a:visited {
    text-decoration: none;
    color: black;
  }
  .nav-link a:active,
  .logo a:active {
    color: purple;
  }
  .nav-link a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .nav-link a {
    font-variant-caps: small-caps;
    padding: 15px;
  }
  .breadcrumb .logo {
    padding-right: 200px;
    font-family: "Lobster", cursive;
    font-size: 35px;
  }
  #book-online {
    padding-left: 70px;
  }
  main {
    background: no-repeat 50%/100% rgba(189, 182, 187, 255);
    background-image: url("https://media.istockphoto.com/id/1355731292/photo/beautiful-woman-with-multi-colored-hair-and-creative-make-up-and-hairstyle-beauty-face.jpg?b=1&s=170667a&w=0&k=20&c=u5Tkc-J6jsIm0SJlnCwo5lJX77hR6BikHFiL0vEbLOw=");
    height: 1000px;
    padding: 140px 15px 35px 100px;
    margin: 0;
    font-family: "Helvetica", sans-serif;
  }
  .blonde .hours {
    writing-mode: vertical-rl;
    float: right;
    color: rgba(245, 245, 220, 70);
    font-size: 20px;
  }
  .blonde {
    font-variant-caps: all-small-caps;
    padding-bottom: 50px;
    color: rgba(245, 245, 220, 60);
  }
  .blonde #highlight {
    height: 150px;
    font-size: 48px;
    width: 20%;
    line-height: 65px;
  }
  .blonde button {
    padding: 10px;
    color: rgba(245, 245, 220, 60);
    background: black;
    font-variant-caps: small-caps;
  }
  .blonde .scroll {
    background: white;
    padding: 15px;
    border-radius: 50%;
    float: right;
  }
  .first-visit {
    height: 250px;
    width: 17%;
    color: rgba(245, 245, 220, 60);
    background: black;
    padding: 20px 15px;
    font-variant-caps: small-caps;
    margin-bottom: 30px;
  }
  
  #percent {
    font-size: 40px;
    float: left;
    width: 50%;
    margin: 0;
  }
  #percent::first-line{
    font: bold 38px;
  }
  .first-visit button {
    padding: 10px;
    font-variant-caps: small-caps;
  }
  .services {
    height: 180px;
    background: white;
    width: 100%;
    padding: 0;
    text-align: center;
    margin-bottom: 50px;
  }
  .services > section {
    float: left;
    padding: 10px;
    width: 33.3333%;
  }
  h4 {
    font-variant-caps: small-caps;
  }
  .momentum {
    height: 460px;
    background: rgba(189, 182, 187, 255);
    padding: 40px 240px;
    padding-left: 50px;
  }
  .momentum > section {
    float: left;
    width: 40%;
    padding: 30px;
  }
  .momentum button {
    padding: 15px 40px;
    color: rgba(245, 245, 220, 60);
    background: black;
    font-variant-caps: small-caps;
    font-size: 16px;
  }
  .style {
    height: 500px;
    padding: 30px 130px;
    font-family: "Helvetica", sans-serif;
    font-variant-caps: small-caps;
    padding-bottom: 50px;
  }
  .style > .img1 {
    padding: 30px;
    float: left;
  }
  .img1 {
    height: 350px;
    width: 31.33%;
    margin: 10px;
  }
  .stylist-block {
    color: rgba(245, 245, 220, 60);
    background: black;
    text-align: center;
  }
  .stylist-box {
    height: 100px;
    width: 100%;
    color: rgba(245, 245, 220, 60);
    background: black;
    padding: 5px 15px;
    font-variant-caps: small-caps;
    text-align: center;
    margin-top: 270px;
  }
  .stylist {
    background-image: url("https://plus.unsplash.com/premium_photo-1664048713110-f5ac3a19b29d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aGFpciUyMHN0eWxpc3R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  }
  .colorist {
    background-image: url("https://images.unsplash.com/photo-1562322140-8baeececf3df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8aGFpciUyMHNhbG9ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  }
  .beauty {
    background-image: url("https://plus.unsplash.com/premium_photo-1677616799952-164927e5c665?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8aGFpciUyMHN0eWxpc3R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  }
  .appointment {
    float: left;
    clear: both;
    height: 430px;
    width: 100%;
    padding: 70px 200px;
    
  }
  .background{
    height: 430px;
    width: 100%;
    padding: 30px;
    background: no-repeat 50%/100% url('https://images.unsplash.com/photo-1470259078422-826894b933aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA4fHxoYWlyJTIwc3R5bGV8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
  }
  .color-offer{
    padding: 30px;
    font: 38px bold;
    font-variant-caps: all-small-caps;
  }
  .color-offer button{
    padding: 15px 40px;
    color: rgba(245, 245, 220, 60);
    background: black;
    font-variant-caps: small-caps;
    font-size: 16px;
  }
  .lookbook {
    float: left;
    clear: both;
    padding-top: 90px;
  }
  .lookbook > section img{
      height: 500px;
      padding: 10px;
  }

  .lookbook section{
	padding: 20px 200px;
  }

  .our{
       text-align: center;
       font-variant-caps: all-small-caps;
       font-size: 28px;
       padding: 20px
  }
  .our::after{
      content: '-'
  }
  @media screen and (max-height: 500px) {
    *{
      display: inline-block;
    }
  }