*{
    box-sizing: border-box;
}
header, footer{
    height: 123px;
    border: 1px solid black;
    clear: both;
}
section{
    height: 225px;
    width: 100%;
    border: 1px solid black;
}
span{
    height: 325px;
    width: 35%;
    border: 1px solid black;
    float: left;
}
div{
    height: 325px;
    width: 65%;
    border: 1px solid black;
    float: left;
}