/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */

  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  
 
  
  
  /******************************************
  /* LAYOUT
  /*******************************************/
 header nav > *{
    float: left;
    width: 20%;
    margin: 0 5% ;

 }
  .breadcrumb > li{
     display: inline;
 }
  .breadcrumb li+li{
    content: " ";
    padding: 10px;
  }
   
  main > section{
    width: 50%;
    height: 600px;
    float: left;
  }
  img{
    width: 50%;
  }
  main > section h1, main > section img{
    margin-top: 200px;
  }
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  