<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>Ayesha</title>
</head>
<body>
    <nav>
        <ul class='breadcrumb'>
          <li class='logo'><a href='#'>
              Ayesha.
            </a></li>
          <li class='nav-link'><a href='#'>home</a></li>
          <li class='nav-link'><a href='#'>about</a></li>
          <li class='nav-link'><a href='#'>services</a></li>
          <li class='nav-link'><a href='#'>lookbook</a></li>
          <li class='nav-link'><a href='#'>news</a></li>
          <li class='nav-link'><a href='#'>contact</a></li>
          <li class='nav-link'><a href='#'>search</a></li>
          <li class='nav-link'><a href='#'>cart</a></li>
          <li class='nav-link' id='book-online'><a href='#'> - book online</a></li>
        </ul>
      </nav>
      <main>
        <section class='blonde'>
          <p id='highlight'>Blonde & Highlight</p>
          <p>divide your uniqueness by your hairs in style</p>
          <button>- our services</button>
          <p class='hours'>mon-sun : 7:00am - 8 : 00pm</p>
          <button class='scroll'></button>
          <button class='scroll'></button>
        </section>
        <section class='first-visit'>
          <p> your first visit?</p>
          <p id='percent'>-20%</p>
          <p>for the first classic hair coloring</p>
          <button>- book online</button>
        </section>
        <section class='services'>
          <section>
            <i>baeuty</i>
            <h4>expert beautcians</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat eros et metus tristique consequat. In et massa at est egestas lacinia ac sit amet enim. </p>
          </section>
          <section>
            <i>chair</i>
            <h4>quility services</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat eros et metus tristique consequat. In et massa at est egestas lacinia ac sit amet enim. </p>
          </section>
          <section>
            <i>products</i>
            <h4>beauty products</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat eros et metus tristique consequat. In et massa at est egestas lacinia ac sit amet enim. </p>
          </section>
        </section>
      </main>
      <section class='momentum'>
        <section>
          <h1>make your own momentum</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut commodo velit. Curabitur placerat magna in consequat fermentum. Suspendisse potenti. </p>
          <button>- read more</button>
        </section>
        <section>
          <img src='https://plus.unsplash.com/premium_photo-1677616798094-d34c85b61e36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8aGFpciUyMHNhbG9ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60' alt='hair-salon'>
        </section>
      </section>
      <section class='style'>
        <section class='colorist img1'>
          <section class='stylist-box'>
            <h3>Alita Willams</h3>
            <p>- Colorist</p>
          </section>
        </section>
        <section class='stylist img1'>
    
          <section class='stylist-box'>
            <h3>Ayesha Lake</h3>
            <p>- Styler</p>
          </section>
        </section>
        <section class='beauty img1'>
          <img src='' alt=''>
          <section class='stylist-box'>
            <h3>Smith Mighi</h3>
            <p>- Beautcian</p>
          </section>
        </section>
      </section>
      <section class='appointment'>
        <section class="background">
          <section class="color-offer">
            <span>color day offer</span>
            <p>-10% on haircut and highlight</p>
            <button>- book appointment</button>
          </section>
          
        </section>
      </section>
      <section class='lookbook'>
        <section class='our'>
          <h1>our lookbook</h1>
        </section>
        <section>
          <img src='https://images.unsplash.com/photo-1492106087820-71f1a00d2b11?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fGhhaXIlMjBzdHlsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60' alt='style-1'>
          <img src='https://images.unsplash.com/flagged/photo-1559502858-8041d0747820?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fGhhaXIlMjBzdHlsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60' alt='style-2'>
          <img src='https://images.unsplash.com/photo-1607533024679-c89d26e0cdee?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fGhhaXIlMjBzdHlsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60' alt='style-3'>
          <img src='https://images.unsplash.com/photo-1488282396544-0212eea56a21?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGhhaXIlMjBzdHlsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60' alt='style-4'>
          <img src='https://images.unsplash.com/photo-1524504388940-b1c1722653e1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGhhaXIlMjBzdHlsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60' alt='style-5'>
          <img src='https://images.unsplash.com/photo-1523260578934-e9318da58c8d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjN8fGhhaXIlMjBzdHlsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60' alt='style-6'>
        </section>
      </section>
</body>
</html>