*{
    box-sizing: border-box;
}
.clearfix:after {
    content: ".";
    display: block;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
header, footer{
    height: 100px;
    border: 1px solid black;
    clear: both;   
}
section{
    height: 200px;
    width: 33.33%;
    float: left;
    border: 1px solid black;
}
.bottom{
    width: 50%;
    border: 1px solid black;
    float: left;
}