body{
    background-color: rgba(120,199,230,245);
    border: 5px solid #00e639;
    display: inline-block;
}
header {
    text-align: center;
    color: #ffff;
}
section, img {
    text-align: justify;
    float: right;
    color: #ffff;
    margin: 0 30px 30px 15px;
}
 a{
    color:  rgba(3, 200, 125, 100);
}

img{
    width: 200px;
    height: 200px;
    margin: 0 0 30px 30px;
}
footer{
    text-align: center;
    margin: 15px 0 15px 0;
    color:  rgba(3, 200, 125, 100);
}