* {
    box-sizing: border-box;
    border: 1px solid black;
}
header, footer{
    height: 123px;
    clear: both;
}
section{
    height: 225px;
    width: 33.3333%; 
    float: left;
}
.bottom {
    height: 325px;
    width: 50%;   
    float: left;
}