*{
    box-sizing: border-box;
}
body{
    background-image:  url("./images/jake-blucker-tMzCrBkM99Y-unsplash.jpg")   ;
    background-position: center;
    font-family: 'Raleway', sans-serif;
}
header{
  background: transparent;
  color: white;
  width: auto;
  height: 700px;
  font-size: 20px;
}
nav{
    position: fixed;
    font-family: 'Indie Flower', sans-serif;
}
.nav-img{
    cursor: pointer;
    padding-right: 730px;
}

.breadcrumb > li{
    display: inline;
    cursor: pointer;
}
.breadcrumb li+li:before{
   padding: 6px;
    content: " ";
}
.nav-link a{
    text-decoration: none;
    color: rgb(174, 87, 255);
    font-size: 18px;
}
.nav-link a:hover{
     color: blanchedalmond;
}
.nav-link:hover{
    text-decoration: underline;
    cursor: pointer;
   
}

header section{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

header section .breadcrumb li+li::before{
    content: "|";
}
.about-me-p {
    font-family: 'Indie Flower', sans-serif;
    font-size: 20px;
}
.portfolio-web{
    background-color: darkgrey;
    height: 500px;
}
.rock-climbing{
    height: 300px;
    background-color: #a85442;
}
.portfolio-video{
    height: 300px;
    background-color: darkcyan;
}
.end{
    height: 400px;
    background-color: transparent;
}