*{
    box-sizing: border-box;
}
.navigation {
    background-color: black;
    color: #eaeaed;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: auto;
    justify-content: space-around;
}
.navigation a{
    cursor: pointer;
}
.navigation .breadcrumb .nav-link img{
   margin-left: 1px;
   width: auto;
    height: 150px;
    object-fit: contain;
    justify-items: auto;
}
