*{
    box-sizing: border-box;
    
}
header, footer{
    height: 123px;
    clear: both;
    border: 1px solid #000;
}
nav{
    height: 555px;
    width: 23%;
    float: left;
    border: 1px solid #000;
}
img{
    height: 555px;
    width: 41%;
    float: left;
    border: 1px solid #000;
}
section, span{
    height: 555px;
    width: 18%;
    float: left;
    border: 1px solid #000;
}
