<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/globals.css">
    <link rel="stylesheet" href="./styles/style.home.css">
    <link rel="stylesheet" href="styles/breadcrumb.css">
    <title>Climb Vault</title>
</head>
<body>
    <div class="container">
    <header id="header">
        <nav class="breadcrumb">
            <img src="./images/mountain.svg" width="75" alt="Navigation Image"/>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="./webPortfolio.html">Web Portfolio</a></li>
              <li><a href="./photoStash.html">The Stash</a></li>
              <li><a href="./about.html">Profile</a></li>
            </ul>
        </nav>
          
        <section class="intro">
            <h3 class="about-me">Skyler Fullmer</h3>
            <ul class="breadcrumb">
                <li><a href="#climbing" class="climber">Climber </a></li>
                <li><a href="#web-dev" class="developer">Developer </a></li>
                <li><a href="#youtube" class="producer">Video Producer </a></li>
            </ul>
            <p class="about-me-p">Passionate about Rock Climbing, software development, gaming, Cosplay, and Public land access for those in the Rock Climbing Space.</p>
            <p class="about-me-p">Inspired by the mountains and cliffs I tend to explore. As well as gaming, film, tv, and anime. </p>
        </section>
    </header>
    <main>
        <section class="portfolio-web" id="web-dev">
            <h1>view my portfolio</h1>
            <p>click to view all the websites, and personal projects</p>
            <button>
                <a href="#">view portfolio</a>
            </button>
        </section>
        <section class="rock-climbing" id="climbing">
            <h1>My Tick List can be viewed: <a href="https://www.mountainproject.com/user/112227120/skyler-fullmer/ticks" id="climber">Here</a></h1>
            <h3>And below are a few routes I have really enjoyed.</h3>
            <section class="tick-list">
                <section>
                    <img src="./images/desertRats.jpg" alt="desertRats" height="350px">
                    <img src="./images/teamTrailer.jpg" alt="teamTrailer" height="350px">
                    <img src="./images/110895792_large_1494357679.jpg" alt="route" height="350px">
                </section>
                <section>
                    <h2><a href="https://www.mountainproject.com/route/108178999/desert-rats-be-damned"> Desert Rats Be Damned</a></h2>
                    <h2><a href="https://www.mountainproject.com/route/107695410/team-trailer">Team Trailer</a></h2>
                    <h2><a href="https://www.mountainproject.com/route/105841378/annie-git-yer-drill">Annie Git Yer Drill </a></h2>
                </section>
              
            </section>
            <h3>And click the button to view more info about my favorite routes</h3>
            <button><a href="./photoStash.html">The Stash</a></button>
        </section>
     
        <section class="portfolio-video" id="youtube">
            <h1>view the videos I have produced. some only with a samsung a51 5g</h1>
            <h3>The Climb Vlog: A vlog about climbing, Life, and the Climbing Life</h3>
            <p>click to view my YouTube</p>
            <button>
                <a href="https://www.youtube.com/@QuirkyGek/featured">Watch The Climb Vlog</a>
            </button>
            <span>I also Stream on twitch: No Man's Sky, Halo Infinite, Halo the Masterchief Collection, and Warframe</span>
            <button><a href="https://twitch.tv/thequirkygek">Join in on the space chaos</a></button>
        </section>
    </main>
    
    <footer class="end">
        <p> © 2023 SkyeFull90 </p>
        <p> Source Code under GPL-3.0 License: <a href="https://github.com/SkyeFull90/skyeportfoilio"> skyeportfoilio</a></p>
    </footer>  
</div>
</body>
</html>