<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="style.css">
    <title>Climb Vault</title>
</head>
<body>
    <div class="container">

  
    <header id="header">
        <nav class="breadcrumb">
            <img src="./images/mountain.svg" width="75" alt="Navigation Image">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="./webPortfolio.html">Web Portfolio</a></li>
              <li><a href="./photoStash.html">The Stash</a></li>
              <li><a href="./about.html">About</a></li>
              <li><a href="./contactMe.html">Contact Me</a></li>
            </ul>
        </nav>
          
        <section class="intro">
            <h3 class="about-me">Skyler Fullmer</h3>
            <ul class="breadcrumb">
                <li><a href="#climbing" class="climber">Climber </a></li>
                <li><a href="#web-dev" class="developer">Developer </a></li>
                <li><a href="#youtube" class="producer">Video Producer </a></li>
            </ul>
            <p class="about-me-p">Passionate about Rock Climbing, software development, gaming, Cosplay, and Public land access for those in the Rock Climbing Space.</p>
            <p class="about-me-p">Inspired by the mountains and cliffs I tend to explore. As well as gaming and anime. </p>
        </section>
        
    </header>
    <main>
        <section class="rock-climbing" id="climbing">
            <h1>My Tick List can be viewed: <a href="https://www.mountainproject.com/user/112227120/skyler-fullmer/ticks" id="climber">Here</a></h1>
            <h3>And below are a few routes I have really enjoyed.</h3>
            <section class="ticklist">
                <secttion>
                    <img src="" alt="">
                </secttion>
                <secttion>
                    <img src="" alt="">
                </secttion>
                <secttion>
                    <img src="" alt="">
                </secttion>
            </section>
        </section>
        <section class="portfolio-web" id="web-dev">
            <h1>view my portfolio</h1>
            <p>click to view all the websites, and persoanl projects</p>
            <button>
                <a href="#">view portfolio</a>
            </button>
        </section>
        <section class="portfolio-video" id="youtube">
            <h1>view the videos I have produced. some only with a samsung a51 5g</h1>
            <h3>The Climb Vlog: A vlog about climbing, Life, and the Climbing Life</h3>
            <p>click to view my YouTube</p>
            <button>
                <a href="#">Watch The Climb Vlog</a>
            </button>
            <span>I also Stream on twitch: No Man's Sky, Halo Ifinite, Halo the Masterchief Collection, and Warframe</span>
            <button><a href="#">Join in on the space choas</a></button>
        </section>
    </main>
    
    <footer class="end"></footer>  
</div>
</body>
</html>