* {
    box-sizing: border-box;


}
header{
    height: 100px;
    border: 1px solid black;
    clear: both;
}
.middle-east{
    height: 300px;
    width: 50%;
    float: left;
    background-image: url("https://ichef.bbci.co.uk/news/976/cpsprodpb/1676D/production/_113931029_composite.jpg.webp");
    background-size: cover;
    margin: 7px;
}
.block{
    height: 150px;
    width: 23%;
    margin: 10px;
    float: left;
}   

.news{
    height: 225px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.news1{
    height: 50px;
    width: 100%;
    float: left;
    clear: both;
}

h5 {
    cursor: default;
    color: #9799a7;
}
h5:hover{
    cursor: pointer;
    text-decoration: underline;
    color: red;
}
