<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bbc-layout.css">
    <title>Document</title>
</head>
<body>
    <header></header>
    <h3></h3>
    <section class="middle-east"></section>
    <section class="block"></section>
    <section class="block"></section>
    <section class="block"></section>
    <section class="block"></section>
    <h3></h3>
    <section class="news"></section>
</body>
</html>