*{
    box-sizing: border-box;
}
nav{
    height: 120px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-self: start;
    justify-content: space-between;
}
nav img{
    object-fit: contain;
    height: 25px;
    align-self: flex-start;
}
h1{
    display: flex;
    justify-content: center;
}
.activision{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.activision img{
    object-fit: contain;
    height: 500px;
}
