*{
    box-sizing: border-box;
}
nav{

    height: 150px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-self: start;
    justify-content: space-between;
}
nav img{
    margin: 20px 0 0 30px;
    object-fit: contain;
    height: 25px;
    align-self: flex-start;
}
h1{
    display: flex;
    justify-content: center;
}
.activision{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.activision img{
    object-fit: contain;
    height: 500px;
}
.breadcrumb > li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.breadcrumb li+li:before{
    padding: 10px;
    content: "  ";
}
.breadcrumb .nav-link{
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    justify-content: space-around;
}
a{
    text-decoration: none;
}
.nav-link a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #46ff39;
}
a:link{
    color: grey;
}
a:visited{
    color: lightslategray;
}
.main{
    margin-left: 150px;

}
@media screen and (max-height: 650px) {
    .side-nav {
        display: inline;
        background-color: transparent;
        position: relative;
        padding-top: 0;
    }

    .side-nav a {
        padding: 0;
    }

    .side-nav a, .breadcrumb > li {
        display: inline;
    }
    nav img{
        position: fixed;
    }
    .main{
        margin-left: 0;
    }
}